table {
  width: 100%;

  background-color: $block-bg-c;
  border: 0 none;
  border-collapse: collapse;
  border-radius: $border-r--bigger;
}

tr {
  height: 5rem;

  border-bottom: 0.1rem solid $outline-c;

  &:nth-child(even) {
    background-color: $table-even-bg;
  }

  &:hover,
  &:nth-child(even):hover {
    background-color: $table-hover-bg;
  }
}

thead tr {
  &:last-child {
    border-bottom: 0.1rem solid $outline-c;
  }

  &:hover {
    background-color: transparent;
  }
}

th,
td {
  padding-right: $space-md;
  padding-left: $space-md;
}

th {
  color: $text-c--light;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
