label {
  display: block;

  color: $text-c--lighter;
  font-weight: 700;
  font-size: $text-sm;

  cursor: pointer;
}

label.is-required:after {
  content: "*";
  display: inline-block;

  margin-left: 0.2rem;

  color: $negative-c;
}
