
.pr {
  position: relative !important;
}

.db {
  display: block !important;
}

.dib {
  display: inline-block !important;
}

// Misc
.no-border {
  border: 0 none !important;
}

.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.mobile-only {
  @include mappy-query(tablet) {
    display: none;
  }
  display: block;
}

.tablet-only {
  @include mappy-query(tablet-only) {
    display: block;
  }
  display: none;
}

.tablet-and-more {
  @include mappy-query(tablet) {
    display: block;
  }
  display: none;
}

.screen-only {
  @include mappy-query(screen-only) {
    display: block;
  }
  display: none;
}

.screen-and-more {
  @include mappy-query(screen) {
    display: block;
  }
  display: none;
}

.largescreen-and-more {
  @include mappy-query(largescreen) {
    display: block;
  }
  display: none;
}
