.bg-body {
  background-color: $body-bg-c !important;
}

.bg-block {
  background-color: $block-bg-c !important;
}

.bg-neutral {
  background-color: $neutral-c !important;
}

.bg-neutral--light {
  background-color: $neutral-c--light !important;
}

.bg-neutral--darker {
  background-color: $neutral-c--darker !important;
}

.bg-light {
  background-color: $light-c !important;
}

// Primary
.bg-primary {
  background-color: $primary-c !important;
}

.bg-primary--lighter {
  background-color: $primary-c--lighter !important;
}

.bg-primary--light {
  background-color: $primary-c--light !important;
}

.bg-primary--lightest {
  background-color: $primary-c--lightest !important;
}

.bg-primary--darker {
  background-color: $primary-c--darker !important;
}

.bg-primary--dark {
  background-color: $primary-c--dark !important;
}

.bg-primary--darkest {
  background-color: $primary-c--darkest !important;
}

// Seconday
.bg-secondary {
  background-color: $secondary-c !important;
}

.bg-secondary--lighter {
  background-color: $secondary-c--lighter !important;
}

.bg-secondary--light {
  background-color: $secondary-c--light !important;
}

.bg-secondary--lightest {
  background-color: $secondary-c--lightest !important;
}

.bg-secondary--darker {
  background-color: $secondary-c--darker !important;
}

.bg-secondary--dark {
  background-color: $secondary-c--dark !important;
}

.bg-secondary--darkest {
  background-color: $secondary-c--darkest !important;
}

// tertiary
.bg-tertiary {
  background-color: $tertiary-c !important;
}

.bg-tertiary--lighter {
  background-color: $tertiary-c--lighter !important;
}

.bg-tertiary--light {
  background-color: $tertiary-c--light !important;
}

.bg-tertiary--lightest {
  background-color: $tertiary-c--lightest !important;
}

.bg-tertiary--darker {
  background-color: $tertiary-c--darker !important;
}

.bg-tertiary--dark {
  background-color: $tertiary-c--dark !important;
}

.bg-tertiary--darkest {
  background-color: $tertiary-c--darkest !important;
}

// Positive
.bg-positive {
  background-color: $positive-c !important;
}

.bg-positive--lighter {
  background-color: $positive-c--lighter !important;
}

.bg-positive--light {
  background-color: $positive-c--light !important;
}

.bg-positive--lightest {
  background-color: $positive-c--lightest !important;
}

.bg-positive--darker {
  background-color: $positive-c--darker !important;
}

.bg-positive--dark {
  background-color: $positive-c--dark !important;
}

.bg-positive--darkest {
  background-color: $positive-c--darkest !important;
}

// Warning
.bg-warning {
  background-color: $warning-c !important;
}

.bg-warning--lighter {
  background-color: $warning-c--lighter !important;
}

.bg-warning--light {
  background-color: $warning-c--light !important;
}

.bg-warning--lightest {
  background-color: $warning-c--lightest !important;
}

.bg-warning--darker {
  background-color: $warning-c--darker !important;
}

.bg-warning--dark {
  background-color: $warning-c--dark !important;
}

.bg-warning--darkest {
  background-color: $warning-c--darkest !important;
}

// Negative
.bg-negative {
  background-color: $negative-c !important;
}

.bg-negative--lighter {
  background-color: $negative-c--lighter !important;
}

.bg-negative--light {
  background-color: $negative-c--light !important;
}

.bg-negative--lightest {
  background-color: $negative-c--lightest !important;
}

.bg-negative--darker {
  background-color: $negative-c--darker !important;
}

.bg-negative--dark {
  background-color: $negative-c--dark !important;
}

.bg-negative--darkest {
  background-color: $negative-c--darkest !important;
}
