//-------------------------------//
//           RESPONSIVE          //
//-------------------------------//
$mobile-min:                320px;
$mobile-max:                480px;

$mobile-l-min:              481px;
$mobile-l-max:              767px;

$tablet-min:                768px;
$tablet-max:                1024px;
$tablet-l-min:              1025px;
$tablet-l-max:              1160px;

$screen-min:                1161px;
$screen-max:                1680px;

$largescreen-min:           1921px;

$breakpoints: (
  mobile-min: $mobile-min,
  mobile-max: $mobile-max,
  mobile-l-min: $mobile-l-min,
  mobile-l-max: $mobile-l-max,

  tablet-min: $tablet-min,
  tablet-max: $tablet-max,
  tablet-l-min: $tablet-l-min,
  tablet-l-max: $tablet-l-max,

  screen-min: $screen-min,
  screen-max: $screen-max,

  largescreen-min: $largescreen-min,
);

// some of these queries are used in $grid-map object
// in settings.layout.scss
$mappy-queries: (
  mobile: mappy-bp(mobile-min), // serves for grid settings (settings.layout.scss)
  mobile-only: mappy-bp(mobile-min mobile-l-max),
  mobile-bigger: mappy-bp(mobile-l-min),
  mobile-landscape: mappy-bp(mobile-l-min orientation landscape),

  tablet: mappy-bp(tablet-min),
  tablet-only: mappy-bp(tablet-min tablet-l-max),
  tablet-bigger: mappy-bp(tablet-l-min),
  tablet-landscape: mappy-bp(tablet-min orientation landscape),

  screen: mappy-bp(screen-min),
  screen-only: mappy-bp(screen-min screen-min),
  
  largescreen: mappy-bp(largescreen-min),
);

$grid-map: (
  '': 0,
  '-sm': 'mobile',
  '-md': 'tablet',
  '-lg': 'screen',
  '-xl': 'largescreen'
);
