//-------------------------------//
//             COLORS            //
//-------------------------------//

$light-c:                 #ffffff;
$dark-c:                  #000000;
$dark-c--lighter:         #282828;

$primary-c--darker:       #4d15c5; 
$primary-c:               #702DFF; 
$primary-c--lightest:     #EAE7FC;

$secondary-c--darker:     #fad60b;
$secondary-c:             #FAE102;
$secondary-c--lighter:    #FFEE44;

$tertiary-c--darker:      #2f60d2;
$tertiary-c:              #3772FE;
$tertiary-c--lightest:    #eaf0fc;

$positive-c--darker:      #278825;
$positive-c:              #55B852;

$negative-c--darker:      #CD2C2C;
$negative-c:              #EE3A3A;

$outline-c:               #F2F2F2;
$outline-c--dark:         #c6c6c6;

$neutral-c:               #f4f3ef;
$neutral-c--darker:       #D3D4D9;

$block-bg-c:              #ffffff;

$nav-link-c--lighter:     #7D8097;
$nav-link-c:              #777777;
$nav-link-c--hover:       #1F1F1F;
$nav-link-bg-c--active:   #702DFF;

$table-border-c: #f2f3f9;
$table-even-bg: #f4f5f7;
$table-hover-bg: #eaecf2;

// DS body bg
$body-bg-c: #edeff6;

//-------------------------------//
//          TEXT-COLORS          //
//-------------------------------//
$text-c--dark: #080808;
$text-c--darker: #1f1f1f;
$text-c: #282828;
$text-c--lighter: #626262;
$text-c--light: #a0a0a0;
$text-c--lightest: #e0e0e0;
$text-c--important: #E50053;
