html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 300;
  color: $text-c;
  line-height: $body-line-height;

  & *::selection {
    background-color: $secondary-c;
  }
}
