/* NOTE: html font size is set to 62.5% so that all the REM measurements are
based on 10px sizing. 1.5rem = 15px  */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: $font-primary;
  font-size: $text-nm;
  font-weight: 400;
}

.svg-sprite {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  visibility: hidden;
}
