/*
  Boders
*/
$border-r: 0.3rem;
$border-r--bigger: 0.5rem;
$border-w: 0.1rem;

/*
  Path where images are store
*/
$img-path: "./../img";

/*
  margins and padding are generate up to 
  e.g. mb-0 -> mb-64
*/
$gaps-stop: 64;

/*
  this number will be added on end of each 
  iteration when making spacing classes.
  ruse is that: $gaps-stop % increment === 0
*/
$increment: 4;

/*
  Inputs, Buttons
*/
$input-h: 4rem;

/* 
  Universal box-shadow
*/
$block-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
