@use "sass:math";

$switch: (
  "text-s": $text-nm,
  "text-c": $text-c,

  "height": 2.4rem,
  "width": 4.8rem,

  "toggle-w": 2rem,
  // $swtich-h - 0.4rem
  "toggle-h": 2rem,
  // $swtich-h - 0.4rem
  "toggle-bg-c": $light-c,
  "path-bg-c-active": $positive-c,

  "bg-c": $input-outline-c,
  "bg-c-hover": $input-outline-c--hover,
);

.c-switch {
  position: relative;

  -webkit-tap-highlight-color: transparent;
}

.c-switch__label {
  position: relative;
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  -webkit-tap-highht-color: transparent;
}

.c-switch__text {
  display: block;

  margin-bottom: 0;

  color: map-get($switch, "text-c");
  font-weight: 400;
  font-size: map-get($switch, "text-s");
}

.c-switch__input {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  opacity: 0;
}

.c-switch__path {
  position: relative;
  display: block;

  width: map-get($switch, "width");
  height: map-get($switch, "height");
  margin-right: 1.6rem;

  background-color: map-get($switch, "bg-c");
  border-radius: math.div(map-get($switch, "height"), 2);

  transition: all 0.2s linear;
}

.c-switch__toggle {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  display: block;

  width: map-get($switch, "toggle-w");
  height: map-get($switch, "toggle-h");

  background-color: map-get($switch, "toggle-bg-c");
  border-radius: 50%;

  transition: transform 0.24s ease-in;
}

.c-switch:hover .c-switch__path,
.c-switch__input:focus + .c-switch__path {
  background-color: map-get($switch, "bg-c-hover");
}

.c-switch__input:checked + .c-switch__path {
  background-color: map-get($switch, "path-bg-c-active");
}

.c-switch__input:checked + .c-switch__path .c-switch__toggle {
  transform: translateX(calc(100% + 0.4rem));
}

.c-switch--text-left {
  .c-switch__label {
    flex-flow: row-reverse;
  }

  .c-switch__path {
    margin-right: 0;
    margin-left: 1.6rem;
  }
}
