$box: (
  "bg-c": $block-bg-c,
  "border-r": $border-r--bigger,
  "bg-shadow": $block-box-shadow,

  "header-padding": $space-nm $space-lg $space-nm $space-md,
  "header-border-c": $outline-c,
  "header-icon-w": 4.6rem,
  "header-icon-h": 4.6rem,
  "header-icon-bg-c": $neutral-c,
  "header-icon-mr": $space-sm,
  "header-heading-text-s": $text-md,

  "content-padding": $space-nm $space-md,
  "content-without-header-pt": $space-md,
);

.c-box {
  background-color: map-get($box, "bg-c");
  border-radius: map-get($box, "border-r");
  box-shadow: map-get($box, "bg-shadow");
}

.c-box__header {
  display: flex;
  align-items: center;

  padding: map-get($box, "header-padding");

  border-bottom: 0.1rem solid map-get($box, "header-border-c");
}

// 3 dots wrapper
.c-box__control {
  margin-right: 0;
  margin-left: auto;
}

.c-box__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: map-get($box, "header-icon-w");
  height: map-get($box, "header-icon-h");
  margin-right: map-get($box, "header-icon-mr");

  background-color: map-get($box, "header-icon-bg-c");
  border-radius: 50%;
}

.c-box__heading {
  margin-bottom: 0;

  font-weight: 500;
  font-size: map-get($box, "header-heading-text-s");
}

.c-box__content {
  padding: map-get($box, "content-padding");
}

.c-box__content--alone {
  padding-top: map-get($box, "content-without-header-pt");
}

.c-box__content--full-w {
  padding: 0;
}
